### Boston Data

In [11]:
import pandas as pd
file_path = '/Users/yujinlee/Google_Drive/NYU/Fall_2023/Capstone/CrimeData'

In [12]:
df_boston = pd.read_csv(file_path + '/boston_weekly_data.csv', low_memory = False)
df_boston.head()

   ZIP5 occurred_on_date  total_count
0  2108       2018-01-07           12
1  2108       2018-01-14           16
2  2108       2018-01-21           18
3  2108       2018-01-28           16
4  2108       2018-02-04           15

In [13]:
df_boston.shape

(9155, 3)

In [28]:
# total sum
df_boston['total_count'].sum()

411030

In [27]:
len(df_boston['ZIP5'].unique())

33

In [14]:
df_boston['occurred_on_date'] = pd.to_datetime(df_boston['occurred_on_date'])

In [48]:
# lockdown 2020
df_boston[(df_boston['occurred_on_date'] >= pd.Timestamp('2020-03-19')) & (df_boston['occurred_on_date'] <= pd.Timestamp('2020-06-15'))]['total_count'].sum()

14576

In [49]:
# lockdown 2018
df_boston[(df_boston['occurred_on_date'] >= pd.Timestamp('2018-03-19')) & (df_boston['occurred_on_date'] <= pd.Timestamp('2018-06-15'))]['total_count'].sum()

21761

In [50]:
# lockdown 2019
df_boston[(df_boston['occurred_on_date'] >= pd.Timestamp('2019-03-19')) & (df_boston['occurred_on_date'] <= pd.Timestamp('2019-06-15'))]['total_count'].sum()

19424

In [51]:
# lockdown 2021
df_boston[(df_boston['occurred_on_date'] >= pd.Timestamp('2021-03-19')) & (df_boston['occurred_on_date'] <= pd.Timestamp('2021-06-15'))]['total_count'].sum()

16899

### LA Data

In [21]:
df_la = pd.read_csv(file_path + '/LA_weekly_data.csv', low_memory = False)
df_la.head()

   ZCTA5CE10    date_occ  total_count
0      90001  2018-01-07           21
1      90001  2018-01-14           14
2      90001  2018-01-21           17
3      90001  2018-01-28           16
4      90001  2018-02-04           23

In [29]:
df_la.shape

(40089, 3)

In [30]:
len(df_la['ZCTA5CE10'].unique())

151

In [31]:
# total sum
df_la['total_count'].sum()

1240966

In [32]:
df_la['date_occ'] = pd.to_datetime(df_la['date_occ'])

In [34]:
# lockdown 2020
df_la[(df_la['date_occ'] >= pd.Timestamp('2020-03-19')) & (df_la['date_occ'] <= pd.Timestamp('2020-06-15'))]['total_count'].sum()

59870

In [35]:
# lockdown 2018
df_la[(df_la['date_occ'] >= pd.Timestamp('2018-03-19')) & (df_la['date_occ'] <= pd.Timestamp('2018-06-15'))]['total_count'].sum()

71502

In [36]:
# lockdown 2019
df_la[(df_la['date_occ'] >= pd.Timestamp('2019-03-19')) & (df_la['date_occ'] <= pd.Timestamp('2019-06-16'))]['total_count'].sum()

67821

In [52]:
# lockdown 2021
df_la[(df_la['date_occ'] >= pd.Timestamp('2021-03-19')) & (df_la['date_occ'] <= pd.Timestamp('2021-06-16'))]['total_count'].sum()

61812

### NYC Data

In [37]:
df_nyc = pd.read_csv(file_path + '/nyc_weekly_data.csv', low_memory = False)
df_nyc.head()

   modzcta CMPLNT_FR_DT  total_count
0    10001   2018-01-07            4
1    10001   2018-01-14            3
2    10001   2018-01-21            1
3    10001   2018-01-28            4
4    10001   2018-02-04            3

In [43]:
df_nyc.shape

(48066, 3)

In [44]:
len(df_nyc['modzcta'].unique())

178

In [45]:
# total sum
df_nyc['total_count'].sum()

2534807

In [38]:
df_nyc['CMPLNT_FR_DT'] = pd.to_datetime(df_nyc['CMPLNT_FR_DT'])

In [53]:
# lockdown 2020
df_nyc[(df_nyc['CMPLNT_FR_DT'] >= pd.Timestamp('2020-03-19')) & (df_nyc['CMPLNT_FR_DT'] <= pd.Timestamp('2020-06-15'))]['total_count'].sum()

86487

In [54]:
# lockdown 2018
df_nyc[(df_nyc['CMPLNT_FR_DT'] >= pd.Timestamp('2018-03-19')) & (df_nyc['CMPLNT_FR_DT'] <= pd.Timestamp('2018-06-15'))]['total_count'].sum()

107820

In [55]:
# lockdown 2019
df_nyc[(df_nyc['CMPLNT_FR_DT'] >= pd.Timestamp('2019-03-19')) & (df_nyc['CMPLNT_FR_DT'] <= pd.Timestamp('2019-06-15'))]['total_count'].sum()

105524

In [56]:
# lockdown 2021
df_nyc[(df_nyc['CMPLNT_FR_DT'] >= pd.Timestamp('2021-03-19')) & (df_nyc['CMPLNT_FR_DT'] <= pd.Timestamp('2021-06-15'))]['total_count'].sum()

105216